<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js"></script>
    <script src="./move.js"></script>


</head>
<body>
<!--------------------------------head------------------------------>
    <div id="r_head">
        <div id="r_hlogo">
            <a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">
                <img src="https://p1.lefile.cn/product/adminweb/2018/12/13/2d4534f6-29f3-4a05-8e68-97d9904c7bd2.png" alt="">
            </a>
        </div>

        <div id="r_hnav">
            <ul>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">商城</a></li>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">企业购</a></li>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">服务</a></li>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">会员</a></li>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">社区</a></li>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">门店</a></li>
                <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">品牌</a></li>
            </ul>
        </div>

        <div id="r_hcon">
            <span class="iconfont"><a href="">&#xe6a6;</a></span>
            <span class="r_hcontext">
                <a class="r_hcontextb" href="">登录</a>
                <a href="">注册</a>
            </span>
            <span class="iconfont"><a href="">&#xe610;</a></span>
        </div>
    </div>





<!-------------------------Carousel(轮播图)------------------------->
    <div id="r_Carousel">
        <ul id="r_Cul">
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/1.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/2.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/3.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/4.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/5.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/6.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/7.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/8.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/9.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/10.jpg" alt=""></a></li>
            <li><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg"><img src="./imges/11.jpg" alt=""></a></li>
        </ul>

        <div id="r_Col">
            <span class="active"><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
            <span><i></i></span>
        </div> 



    </div>





<!------------------------菜单导航---------------------------->
    <div id="r_nav">
        <ul id="r_ntop">
            <li style="width: 20%;"><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">个人及家庭产品</a></li>
            <li style="width: 20%;"><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">中小企业产品</a></li>
            <li style="width: 20%;"><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">政企大客户产品</a></li>
            <li style="width: 20%;"><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">数据中心产品</a></li>
            <li style="width: 20%;"><a href="https://p5.ssl.qhimgs1.com/sdr/400__/t0121efc56ba02608c5.jpg">行业智能软件产品</a></li>
        </ul>





    </div>







    <script src="./index.js"></script>
</body>

</html>