<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="../css/lenovoList.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../static/icon/font/iconfont.css">
</head>
<body>
    <div id="dzh_header">
        <div id="lenovo_logo">
            <a href="">
                <img src="../static/imges/img/L.jpg" alt="">
            </a>
        </div>
        <div id="header_nav">
            <div class="content">
                <ul class="ul_nav">
                    <li class="lis"><a href="">联想首页</a></li>
                    <li class="lis"><a href="#">商城</a></li>
                    <li class="lis"><a href="#">品牌</a></li>
                    <li class="lis"><a href="#">服务</a></li>
                    <li class="lis"><a href="#">社区</a></li>
                    <li class="lis"><a href="#">门店</a></li>
                    <li class="lis app">
                        <span style="color: #E1140A">下载app</span>
                        <img src="../static/imges/img/app.png" alt="">
                    </li>
                </ul>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                    <img src="../static/imges/img/phone.png" alt="">
                </div>
            </div>
        </div>
        <div id="header_box">
            <div class="nav">
                <ul class="down_nav">
                    <li class="down_lis"><a href="">新品</a></li>
                    <li class="down_lis"><a href="">定制</a></li>
                    <li class="down_lis"><a href="">合伙人</a></li>
                    <li class="down_lis"><a href="">以旧换新</a></li>
                    <li class="down_lis"><a href="">0元试用</a></li>
                    <li class="down_lis"><a href="">积分购</a></li>
                    <li class="down_lis"><a href="">学生</a></li>
                    <li class="down_lis"><a href="">直播</a></li>
                    <li class="down_lis"><a href="">企业购</a></li>
                </ul>
                <div class="search">                
                    <a href=""><span></span></a>
                    <input type="text" placeholder="12.12 购物狂欢节">            
                </div>            
            </div>
            
        </div>

    </div>
    <div id="banner">
        <ul class="banner_ul">
            <li class="banner_active"><a href="#"><img src="../static/imges//img/lb_1.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/imges/img/lb_2.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/imges/img/lb_3.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/imges/img/lb_4.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/imges/img/lb_5.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/imges/img/lb_6.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/imges/img/lb_7.jpg" alt=""></a></li>
        </ul>
        <ol class="banner_ol">
            <li class="banner_active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <span class="iconfont iconleft"><a href="#"></a></span>
        <span class="iconfont iconright"><a href="#"></a></span>
    </div>
    <div id="jl">
        <div class="box1">
            <a href=""></a>
        </div>
        <div class="box2">
            <a href=""></a>
        </div>
        <div class="box3">
            <a href=""></a>
        </div>
        <div class="box4">
            <a href=""></a>
        </div>
    </div>
    <!-- <div id="nav_right">
        <div class="nav_rrr">
            <ul class="navright">
                <li class="navlist_r">
                    <a href="">
                        <img src="" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <div id="main"></div>
     <div id="jl2">
         <img src="../static/imges/img/jingling.png" alt="">
     </div> 
     <div id="footer">
         <ul class="foot">
            <li class="li_l">
                <a href="#" class="a-h3">购物指南</a>
                <a href="#" class="a-p">服务商信息</a>
                <a href="#" class="a-p">购买流程</a>
                <a href="#" class="a-p">注册登录</a>
                <a href="#" class="a-p">商品评价</a>
            </li>
            <li class="li_l">
                <a href="#" class="a-h3">配送方式</a>
                <a href="#" class="a-p">配送方式</a>
                <a href="#" class="a-p">配送方式信息</a>
                <a href="#" class="a-p">签收方式</a>
                <a href="#" class="a-p">物流查询</a>
            </li>
            <li class="li_l">
                <a href="#" class="a-h3">支付方式</a>
                <a href="#" class="a-p">分期支付</a>
                <a href="#" class="a-p">支付方式</a>
                <a href="#" class="a-p">支付问题</a>
            </li>
            <li class="li_l">
                <a href="#" class="a-h3">订单信息</a>
                <a href="#" class="a-p">订单信息</a>
                <a href="#" class="a-p">发票信息</a>
                <a href="#" class="a-p">手机激活查询</a>
            </li>
            <li class="li_l">
                <a href="#" class="a-h3">售后服务</a>
                <a href="#" class="a-p">售后服务总则</a>
                <a href="#" class="a-p">24小时在线客服</a>
                <a href="#" class="a-p">联想服务入口</a>
                <a href="#" class="a-p">热门解决方案</a>
                <a href="#" class="a-p">lenovo Quick Fix工具</a>
            </li>
            <li class="li_l">
                <a href="#" class="a-h3">其他说明</a>
                <a href="#" class="a-p">服务承若</a>
                <a href="#" class="a-p">账户安全</a>
                <a href="#" class="a-p">手机产品购买须知</a>
                <a href="#" class="a-p">环境信息</a>
            </li>
            <li class="li_r">
                <div class="foot_r">
                    <h3>400-990-8888转4</h3>
                    <span>周一到周日 9:00-21:00</span>
                    <a href="#"></a>
                </div>
            </li>

         </ul>
         <div class="foot_down">
             <div class="footlow">
                 <div class="footleft">
                    版权所有：1998-2020 联想集团
                    <span>|</span>
                    <a href="#">法律公告</a>
                    <span>|</span>
                    <a href="#">隐私权政策</a>
                    <span>|</span>
                    <a href="#">产品安全</a>
                 </div>
                 <div class="footright">
                     <a href="">京ICP备11035381</a>
                     <span>|</span>
                     <a href="">京公网安备110108007970号</a>
                     <span>|</span>
                     <a href="">营业执照:91110108700000458B</a>
                 </div>
             </div>
         </div>
     </div>      
       
    <script src="../lib/jquery.js"></script>
    <script src="../js/lenovoList.js"></script>
</body>
</html>