*{padding: 0;margin: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color: #121212;}
.r_l{float: left;}


/* ---------------head--------------- */
#r_head{width: 100%; display: flex; position: relative;}

#r_hlogo{width: 174px;height: 53px;}
#r_hlogo a img{height: 100%;}

#r_hnav ul li{float: left; font-weight:700; line-height: 53px; padding-left: 32px;}

#r_hcon{width: 246px;height: 100%; position: absolute; right: 0;top: 0;}
#r_hcon span{line-height: 53px;}
#r_hcon .r_hcontext{font-size: 14px; margin-left: 50px; margin-right: 10px;}
#r_hcon .r_hcontext .r_hcontextb{border-right: 2px solid #ccc; padding-right: 5px;}


/* ----------------Carousel------------- */
#r_Carousel{width: 1519px; overflow: hidden; position: relative;height: 553.8px;}

#r_Carousel #r_Cul li{width:1519px; height: 553.8px; position: absolute; left:1519px; top:0; }
#r_Carousel #r_Cul li:first-child{ left:0;}
#r_Carousel #r_Cul li img{width: 1519px; height: 553.8px;}

#r_Carousel #r_Col{width: 100%; height: 28px; position: absolute; bottom: 24px; text-align: center;}
#r_Carousel #r_Col span{width: 24px;height: 24px; margin: 0 7px; display: inline-block;text-align: center; vertical-align: middle;} 
#r_Carousel #r_Col span i{width: 2px;height: 8px; background-color: #fff; display: inline-block; vertical-align: middle;}
#r_Carousel #r_Col span.active i{width: 20px;height: 20px; border-radius: 20px; border: 1px solid #fff; background: transparent;}


/* ----------------菜单导航--------------- */

// #r_nav{background-color: #f9f9f9; padding-top: 10px; padding-bottom: 50px;}
// #r_nav #r_ntop{width: 1200px; height: 65px; border-top: 1px solid #d7dde3; border-left: 1px solid #d7dde3; margin: 0 auto;background-color: #eee;}
// #r_nav #r_ntop li{position: relative; line-height: 60px; height: 100%; text-align: center; font-weight: 600; font-size: 14px; border-right: 1px solid #d7dde3; box-sizing:border-box;}
// #r_nav .show_r_ntop{display: inline-block; width: 100%; height: 100%; position: absolute;top: 0; left: 0;}
// #r_nav #r_ntop li img{position: absolute; right: 40px; top: 22px; display: none;}
// #r_nav #r_ntop li.activty img{display:block;}
// #r_nav #r_ntop li.activty p{border-bottom:5px solid #b1b9c2; color: #446089;}

// #r_nbom{width: 1200px;height: 140px; margin: 0 auto;}


#r_nav{
    background-color: #f9f9f9; padding-top: 10px; padding-bottom: 50px;
    #r_ntop{
        width: 1200px; height: 65px; border-top: 1px solid #d7dde3; border-left: 1px solid #d7dde3; margin: 0 auto;background-color: #eee;
        li{
            position: relative; line-height: 60px; height: 100%; text-align: center; font-weight: 600; font-size: 14px; border-right: 1px solid #d7dde3; box-sizing:border-box;
            img{
                position: absolute; right: 40px; top: 22px; display: none;
            }
        }
        li.activty img{
            display:block;
        }
        li.activty p{
            border-bottom:5px solid #b1b9c2; color: #446089;
        }
    }
    .show_r_ntop{
        display: inline-block; width: 100%; height: 100%; position: absolute;top: 0; left: 0;
    }


    #r_nbom{
        width: 1200px;height: 140px; margin: 0 auto;
        li{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .img2{
                display: none;
            }
            
        }
        li.active a{
            color: #446089;
            .img2{
                display: block;
            }
            .img1{
                display: none;
            }

        }

    }





}



